/*  ================================================================================
	Global Styles
================================================================================  */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}


body{
	font-family: 'Helvetica Neue','helvetica', Sans-Serif;
	color: $swatch1;
	background: $swatch3;
}

header h1{
	font-size: 30px;
	font-weight: bold;
	color: $swatch1;
	margin: 10px 0;
}

/*  ================================================================================
	SMALL SCREENS
================================================================================  */
@include device-size(small) {
	.largeLimit {
		padding: 0 0 0 0;
	}

	.smallLimit {
		width: 100%;
		padding: 0 $smallSitePadding !important;
		&.largeLimit {
			padding: 0 $smallSitePadding !important;
		}
	}

}