/*  ================================================================================
	Helpers - helpful mixins and classes
================================================================================  */

@mixin device-size($size) {
	@if $size == small {
		@media (max-width: $mobileBreakPoint) { @content; }
	}
}

@mixin max-width($width){
	max-width: $width;
	.lte-ie9 &{
		width: $width;
	}
}

.clearfix{
	*zoom: 1;
	&:before,
	&:after{
		content: " ";
		display: table;
	}
	&:after{
		clear: both;
	}
}

@mixin clearfix(){
	@extend .clearfix;
}

.largeLimit {
	@include max-width($siteMaxWidth + $sitePadding*2);
	margin: 0 auto;
	padding: 0 $sitePadding;
	position: relative;
}

