/*  ================================================================================
	Helpers - helpful mixins and classes
================================================================================  */

@mixin device-size($size) {
	@if $size == small {
		@media (max-width: $mobileBreakPoint) { @content; }
	}
}


.largeLimit {
	max-width: $siteMaxWidth + $sitePadding*2;
	margin: 0 auto;
	padding: 0 $sitePadding;
	position: relative;
}