/*  =====================================================================================
	McColumn Culkin - Simple grid system
=========================================================================================  */
$defaultGutterWidth: 2%;
$maxColumns: 10;
$containerMargin: 20px;

[data-columns]{
	width: 100%;
	display: block;

	.column{
		@include inline-block;
		vertical-align: top;
		margin-right: -4px;
		margin-top: $containerMargin;
		border: 1px solid $swatch2;

		@include device-size(small){
			margin-top: $containerMargin/2;
		}

		>div{
			display: block;
			border: 1px solid $swatch2;
		}

		[data-columns]{
			@include inline-block;
			vertical-align: top;
		}
	}
}

$columns: $maxColumns;
@while $columns > 0 {
	[data-columns="#{$columns}"],
	[data-device-size="small"] [data-mobile-columns="#{$columns}"]{
		> .column{
			width: percentage(1/$columns);
			padding: 0 ($defaultGutterWidth/2);
			&:nth-child(#{$columns}n+1){
				padding-left: 0px;
			}
			&:nth-child(#{$columns}n+#{$columns}){
				padding-right: 0px;
			}
		}
	}
	$columns: $columns - 1;
}
