.icon-check-sign { background-image: url('png/check-sign.png'); background-repeat: no-repeat; }

.icon-check { background-image: url('png/check.png'); background-repeat: no-repeat; }

.icon-collapse-top { background-image: url('png/collapse-top.png'); background-repeat: no-repeat; }

.icon-collapse { background-image: url('png/collapse.png'); background-repeat: no-repeat; }

.icon-credit { background-image: url('png/credit.png'); background-repeat: no-repeat; }

.icon-envelope-alt { background-image: url('png/envelope-alt.png'); background-repeat: no-repeat; }

.icon-info-sign { background-image: url('png/info-sign.png'); background-repeat: no-repeat; }

.icon-lock { background-image: url('png/lock.png'); background-repeat: no-repeat; }

.icon-minsky { background-image: url('png/minsky.png'); background-repeat: no-repeat; }

.icon-minus-sign { background-image: url('png/minus-sign.png'); background-repeat: no-repeat; }

.icon-ok { background-image: url('png/ok.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-remove-sign { background-image: url('png/remove-sign.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.icon-signin { background-image: url('png/signin.png'); background-repeat: no-repeat; }

.icon-star-empty { background-image: url('png/star-empty.png'); background-repeat: no-repeat; }

.icon-star { background-image: url('png/star.png'); background-repeat: no-repeat; }

.icon-user { background-image: url('png/user.png'); background-repeat: no-repeat; }

.icon-warning-sign { background-image: url('png/warning-sign.png'); background-repeat: no-repeat; }

