/*  ================================================================================
	Screen
	There should be no styles in here, just imports.
================================================================================  */
/* COMPASS FUNCTIONALITY IMPORTS */
/*  ================================================================================
	Parameters
================================================================================  */
/* Swatches  ========================= */
/* Other ============================= */
/*  ================================================================================
	Helpers - helpful mixins and classes
================================================================================  */
/* line 12, ../extensions/_helpers.scss */
.largeLimit {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

/*  =====================================================================================
	McColumn Culkin
=========================================================================================  */
/* line 51, ../extensions/_macolumnculkin.scss */
[data-columns] {
  width: 100%;
  display: block;
  border: 1px solid #d8d8d8;
  background: #bbb;
}
/* line 58, ../extensions/_macolumnculkin.scss */
[data-columns] > .column {
  margin-top: 20px;
}
@media (max-width: 650px) {
  /* line 58, ../extensions/_macolumnculkin.scss */
  [data-columns] > .column {
    margin-top: 10px;
  }
}
/* line 63, ../extensions/_macolumnculkin.scss */
[data-columns] > .column .column {
  margin-top: 0px;
}
@media (max-width: 650px) {
  /* line 63, ../extensions/_macolumnculkin.scss */
  [data-columns] > .column .column {
    margin-top: 0px;
  }
}
/* line 70, ../extensions/_macolumnculkin.scss */
[data-columns] .column {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  margin-right: -4px;
  border: 1px solid #d8d8d8;
}
/* line 76, ../extensions/_macolumnculkin.scss */
[data-columns] .column > div {
  display: block;
}
/* line 80, ../extensions/_macolumnculkin.scss */
[data-columns] .column [data-columns] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

/* Default columns */
/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="10"] > .column {
  width: 10%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="9"] > .column {
  width: 11.11111%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="8"] > .column {
  width: 12.5%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="7"] > .column {
  width: 14.28571%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="6"] > .column {
  width: 16.66667%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="5"] > .column {
  width: 20%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="4"] > .column {
  width: 25%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="3"] > .column {
  width: 33.33333%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="2"] > .column {
  width: 50%;
  padding: 0 5px;
}

/* line 92, ../extensions/_macolumnculkin.scss */
[data-columns="1"] > .column {
  width: 100%;
  padding: 0 5px;
}

/* Mobile columns */
@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="10"] > .column {
    width: 10%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="9"] > .column {
    width: 11.11111%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="8"] > .column {
    width: 12.5%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="7"] > .column {
    width: 14.28571%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="6"] > .column {
    width: 16.66667%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="5"] > .column {
    width: 20%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="4"] > .column {
    width: 25%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="3"] > .column {
    width: 33.33333%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="2"] > .column {
    width: 50%;
  }
}

@media (max-width: 650px) {
  /* line 105, ../extensions/_macolumnculkin.scss */
  [data-mobile-columns="1"] > .column {
    width: 100%;
  }
}

/*  ================================================================================
	Global Styles
================================================================================  */
/* line 5, ../partials/_global.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../partials/_global.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 16, ../partials/_global.scss */
body {
  font-family: 'Helvetica Neue', 'helvetica', Sans-Serif;
  color: #333333;
  background: #ebebeb;
}

/* line 22, ../partials/_global.scss */
header {
  margin-bottom: 35px;
}
/* line 24, ../partials/_global.scss */
header h1 {
  font-size: 30px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
}

/*  ================================================================================
	SMALL SCREENS
================================================================================  */
@media (max-width: 650px) {
  /* line 37, ../partials/_global.scss */
  .largeLimit {
    padding: 0 0 0 0;
  }

  /* line 41, ../partials/_global.scss */
  .smallLimit {
    width: 100%;
    padding: 0 20px !important;
  }
  /* line 44, ../partials/_global.scss */
  .smallLimit.largeLimit {
    padding: 0 20px !important;
  }
}
