/*  ================================================================================
	Parameters
================================================================================  */

/* Swatches  ========================= */
$swatch1: #333;
$swatch2: #d8d8d8;
$swatch3: #ebebeb;


/* Other ============================= */
$siteMaxWidth: 980px;
$sitePadding: 20px;
$smallSitePadding: 20px;
$mobileBreakPoint: 650px;

